* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6em;
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 9rem 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
