/* header block */
.header-block {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background: gray;
}

.header__dev-text-block {
  flex-basis: 26rem;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__dev-text {
  font-size: 2rem;
}

.header__nav-block {
  flex: 1;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
}

.nav__link {
  width: 100%;
  font-size: 1.8rem;
  letter-spacing: 0.07rem;
}

.header__button-block {
  flex-basis: 26rem;
  background: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  padding: 1.6rem 2.5rem;
  font-size: 1.65rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #fbe850;
}

/* .header__button:active {
  transform: translate(0.1rem, 0.2rem) 
} */

/* main block */
.main-block {
  grid-area:main;
  min-height:50rem;
  background:green; 
}

.main__company-block {
  min-height:20rem;
  background:red;
  display:flex;
  flex-direction:column; 
}


.company__info-block {
  width:70%;
  background:lightpink;
  display:flex;
  flex-direction:column;
  padding:2% 3%;
}

.company__info-heading-block {
min-height:10rem;
max-width:60%;
margin-bottom:3rem;
}

.company__info-heading {
  font-size:4rem;

}

.company__info-text-block  {
  min-height:10rem;
  width:70%;
}

.company__info-text {
  font-size:2rem;
}
 
.company__logo-block {
  min-height:7em;
  width:100%; 
  /* display:flex; 
  align-items: center;
  justify-content:space-around;
  flex-wrap:wrap; */
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10rem;;
  gap:2rem;
  padding:2%
}

.company__logo-box { 
  background:gray;
  display:flex;
  justify-content: center;
 
}

.company__logo {
 width:100%;  
 object-fit: scale-down;

}

/* main project block */
.main__project-block {
min-height:50rem;
width:100%;
background:gray;
display:flex;
justify-content:center;
align-items:center;
}

.main__project {
  min-height:40rem;
  width:70%;
  background:red;
  display:flex;
  justify-content: space-between;
}

.project__preview-block {
  flex-basis:48%;
  display:flex;
  flex-direction: column;
  background: rgb(83, 83, 54);
}

.project__preview-img {
  width:100%
}

.project__info-block {
  margin-top:1rem;
}

.project__info-heading-block {
  width:100%;
  background:green;
  min-height:4rem;
  display:flex;
  align-items:center;
  margin-bottom:1rem;
}

.project__info-heading {
  font-size:2.5rem;
}

.project__info-text {
  font-size:1.8rem;
}